*{
    box-sizing: border-box;
}
.align{
    background-color:white;
    width:40%;
   margin-left: 28%;
   margin-top: 10%;
   padding: 40px;
    border: 2px solid aqua;
    text-align: center;
    position:absolute;
}
table{
    text-align: left;
}
a{
    text-decoration: none;
}
body{
    background-color: #F7F4F4;
}
#hide1{
    position:absolute;
    left: 430px;
    margin-top: 4px;
}
#Signin{
    width:100px;
    height:35px;    
    margin-top: 40px;
}
#Signup{
    width:100px;
    height:35px;    
    margin-top: 40px;
}